
# Virtual environment
.venv/
venv/

# Parquet files
*.parquet

# CSV files
Data/raw/*.csv

# Zip files
*.zip

# Spark temp
spark-warehouse/

# Python cache
__pycache__/
*.pyc

# Great Expectations uncommitted outputs
gx/uncommitted/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Docker volumes
postgres_data/

# Metabase data
metabase-data/
